@font-face {
    font-family: "Montserrat-regular";
    src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-light";
    src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-medium";
    src: url("../fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Montserrat-bold";
    src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
}

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
}
ul {
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
body::-webkit-scrollbar {
    width: 6px;
}
body::-webkit-scrollbar-thumb {
    background-color: #496cacdf;
    outline: 1px solid #496cacdf;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.9);
}

@keyframes scrolldown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    30% {
        transform: translateY(20px);
        opacity: 0;
    }
}
@keyframes scrollup {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(-5px);
    }
}
#arrow1,
#arrow2 {
    animation: scrolldown infinite ease 1s;
}
#ball {
    animation: scrollup infinite ease 1.5s;
}

@media only screen and (min-width: 320px) {    
    header.top-site {
        position: fixed;
        width: 100%;
        min-height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        z-index: 2;
    }
    header.top-site #menu-hotdog {
        margin-right: 10%;
        width: 38px;
        height: 38px;
        z-index: 3;
        background: url("../images/menu.svg") no-repeat;
        transition-duration: 0.5s;
    }
    body.open header.top-site #menu-hotdog {
        transform: rotate(720deg);
        background: url("../images/close.svg") no-repeat;
    }
    header.top-site #menu-site {
        height: 100vh;
        width: 95vw;
        position: fixed;
        right: 0;
        top: 0;
        background-color: #fff;
        transition-duration: 0.5s;
        transform: translateX(800px);
    }
    body.open header.top-site #menu-site {
        transform: translateX(0);
    }
    #menu-site ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30%;
    }
    #menu-site ul li {
        text-align: center;
        min-height: 50px;
        font-size: 1.2em;
        list-style: none;
    }
    #menu-site ul li a {
        text-decoration: none;
        color: #333;
        font-family: sans-serif;
    }
    .show-desktop {
        display: none;
    }
    section.full-banner {
        width: 100%;
        height: 100vh;
        /* background: url("../images/background-375.jpg") no-repeat; */
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        transition: all 0.5s ease;
    }
    section.full-banner:before {
        width: 100%;
        height: 100%;
        background-color: #00000050;
        content: "";
        position: absolute;
    }
    .full-banner .destak {        
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: calc(100vh - 80px);
        position: absolute;
        bottom: 0;
    }
    .destak .title-destak {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .title-destak h2 {
        font-family: "Montserrat-medium";
        font-size: 1em;
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .title-destak h2::before,
    .title-destak h2::after {
        width: 50px;
        height: 3px;
        background-color: #fff;
        content: "";
    }
    .title-destak h1 {
        font-family: "Montserrat-regular";
        font-size: 2.6em;
        text-transform: uppercase;
    }
    .title-destak h1,
    .title-destak h2 {
        margin: 0;
    }
    .full-banner form {
        margin: 35px 0 190px 0;
    }
    .full-banner form,
    .full-banner label,
    .full-banner .input-container,
    .full-banner .input-form-search {
        width: 100%;
    }
    .full-banner .input-container {
        min-height: 45px;
        position: relative;
    }
    .input-container label > svg {
        position: absolute;
        top: 28%;
        left: 2%;
    }
    .full-banner .input-form-search {
        border-radius: 15px;
        border: none;
        outline: 0;
        margin-top: 4%;
        padding-left: 15%;
        min-height: 45px;
    }
    .full-banner .input-form-search,
    .full-banner .input-form-search::-webkit-input-placeholder {
        font-size: 0.8em;
        font-family: "Montserrat-light";
    }
    .full-banner .input-form-search::-webkit-input-placeholder {
        color: #aaa;
    }
    .full-banner .mouse-icon svg {
        position: absolute;
        bottom: 20px;
        height: 50px;
        width: auto;
    }
    .mouse-icon #mouse,
    .mouse-icon #ball {
        display: none;
    }

    /* ================================================ */
    /* Começando o Footer */
    footer.footer-site {
        min-height: 600px;
        width: 100%;
        background-color: #282828;
        padding: 5%;
        margin-top: 50px;
        font-family: "Montserrat-light";
        position: relative;
    }
    .footer-site .footer-links {
        width: 100%;
        height: 530px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .footer-links .link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footer-links nav.link li {
        text-align: center;
    }
    .footer-links nav.link li + li {
        margin-top: 10px;
    }
    .footer-links .link a,
    .footer-links .link-address {
        color: #f4f4f4;
    }
    .footer-links .link a {
        font-size: 1em;
    }
    .footer-links .link-address {
        margin: 0;
        line-height: 25px;
    }
    .footer-links .link.social-media {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 50%;
    }
    .footer-site .copyright {
        width: 100%;
        margin-top: 30px;
    }
    .copyright > p.copyright-text {
        color: #fff;
        margin: 0;
        text-align: center;
        font-size: 1em;
    }
    .footer-site #gototop {
        position: absolute;
        bottom: 610px;
        right: 5px;
        width: 60px;
        height: 60px;
        background-color: #333333;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Slider */
    .slider .title-slider {
        font-family: "Montserrat-bold";
        font-size: 1.2em;
    }
    .slider .title-slider,
    .carousel-container .links-slider {
        margin-left: 10%;
    }
    .links-slider ul {
        display: flex;
        margin-bottom: 4%;
    }
    .links-slider ul li {
        min-width: 50px;
    }
    .links-slider ul li:nth-child(5) {
        text-align: center;
    }
    .links-slider li > a {
        font-size: 9px;
        font-family: "Montserrat-light";
        color: "#AFAFAF";
        padding-bottom: 5px;
    }
    .links-slider li > a.active {
        border-bottom: 3px solid red;
        color: #000;
        font-weight: bold;
    }
    .carousel-container {
        width: 100%;
        overflow: hidden;
        height: 450px;
    }
    .carousel-container .carousel-gallery {
        width: 85%;
        margin: 10px auto;
        display: flex;
    }
    .carousel-gallery .card {
        height: 350px;
        width: 250px;
        border: 1px solid #AFAFAF;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        opacity: 0;
        transition-duration: 0.5s;
    }
    .carousel-gallery .card.show {
        opacity: 1;
    }
    .carousel-gallery .card + .card {
        margin-left: 30px;
    }
    .carousel-gallery .gallery-picture {
        width: 230px;
        height: 230px;
        border-radius: inherit;
        border: inherit;
        overflow: hidden;
        position: relative;
    }
    .gallery-picture img {
        height: 100%;
    }
    .gallery-picture .gallery-ellipse {
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 60px;
        background-color: rgba(255, 255, 255, 0.8);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5%;
    }
    .card > h2 {
        font-family: "Montserrat-bold";
        font-size: 1.1em;
        text-align: center;
        width: 90%;
        margin: unset;
    }
    .card .card-location {
        height: 24px;
        display: flex;
        width: 70%;
        justify-content: space-around;
    }
    .card-location h3 {
        font-family: "Montserrat-light";
        color: #AFAFAF;
        margin: unset;
    }
    .gallery-ellipse:active svg path,
    .gallery-ellipse:visited svg path,
    .gallery-ellipse:focus svg path,
    .gallery-ellipse:hover svg path,
    .gallery-ellipse.active svg path {
        fill: red;
    }
    .slick-prev:before,
    .slick-next:before {
        color: #7f7f7f;
    }
}

@media only screen and (min-width: 411px) {
    /* section.full-banner {
        background: url("../images/background-411.jpg") no-repeat;        
    } */
}

@media only screen and (min-width: 768px) {
    header.top-site {
        justify-content: space-between;
    }
    header.top-site #logo {
        margin-left: 10%;
    }
    /* section.full-banner {
        background: url("../images/background-768.jpg") no-repeat;
    } */
    .show-desktop {
        display: block;
    }
    #logo-mobile.show-mobile {
        display: none;
    }
    .full-banner .destak {
        width: 90%;
        min-height: 500px;
    }
    .title-destak h2 {
        font-size: 2em;
    }
    .title-destak h2::before,
    .title-destak h2::after {
        width: 150px;
    }
    .input-container label > svg {
        top: 42%;
    }
    .full-banner .input-form-search {
        padding-left: 10%;
    }
    .full-banner .input-form-search,
    .full-banner .input-form-search::-webkit-input-placeholder {
        font-size: 1em;
    }
    footer.footer-site {
        min-height: 270px;
    }
    .footer-site #gototop {
        bottom: 280px;
    }
    .footer-site .footer-links {
        flex-direction: row;
        height: 185px;
    }
    .footer-links .link.social-media {
        width: 20%;
    }

    /* Slider */
    .carousel-container .carousel-gallery {
        width: 92%;
    }
    .slider .title-slider,
    .carousel-container .links-slider {
        margin-left: 5%;
    }
    .links-slider ul li {
        min-width: 100px;
    }
    .links-slider li > a {
        font-size: 14px;
    }
}

@media only screen and (min-width: 1200px) {
    /* section.full-banner {
        background: url("../images/background.jpg") no-repeat;
    } */
    header.top-site {
        background: linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.7),
            rgba(0, 0, 0, 0)
        );
    }    
    header.top-site #menu-site {
        height: 80px;
        width: 100%;
        background-color: unset;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 10%;
        transform: unset;
    }
    header.top-site #menu-site ul {
        flex-direction: row;
        margin-top: unset;
    }
    header.top-site #menu-site ul li {
        min-width: 150px;
        text-align: center;
        min-height: unset;
        font-size: unset;
    }
    header.top-site #menu-site ul li a {
        color: #f4f4f4;
    }
    .show-mobile {
        display: none;
    }
    .full-banner .destak {
        width: 80%;
    }
    .destak .title-destak {
        width: 70%;
    }
    .title-destak h2::before,
    .title-destak h2::after {
        width: 25%;
    }
    .title-destak h1 {
        font-size: 5em;
    }
    .input-container label > svg {
        top: 59%;
    }
    .full-banner .input-form-search {
        padding-left: 7%;
        min-height: 65px;
    }
    .mouse-icon #ball,
    .mouse-icon #mouse {
        display: block;
    }
    footer.footer-site {
        padding: 3%;
    }

    /* Slider */
    .carousel-container .carousel-gallery {
        width: 95%;
    }
    .carousel-container {
        height: 500px;
    }
    .links-slider ul li {
        min-width: 150px;
    }
    .links-slider li > a {
        font-size: 16px;
    }
    .carousel-gallery .card,
    .carousel-gallery .card img {
        transition-duration: 0.5s;
    }
    .carousel-gallery .card:hover,
    .carousel-gallery .card:hover img {
        cursor: pointer;
        transform: scale(1.2);
        transform-style: preserve-3d;
    }    
}